:host{
    overflow: hidden;
}

.pulse {
  position: relative;
  &::after {
    content: "";
    
    @apply absolute w-10 h-10 rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;

    animation: pulse-animation 1s infinite;
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
  }
}
